PORT=4000
DATABASE_URL=postgres://hemnet:hemnet@db:5432/hemnet
PGSSLMODE=disable
ENABLE_KEYCLOAK=true
SESSION_SECRET=change-me
KEYCLOAK_SERVER_URL=http://keycloak:8080/auth
KEYCLOAK_REALM=hemnet
KEYCLOAK_CLIENT_ID=hemnet-backend
KEYCLOAK_SSL_REQUIRED=none
